@page
@model Shop.UI.Pages.Accounts.LoginModel

@{
   
}
<form action="" method="post">
    <input asp-for="Input.UserName" placeholder="UserName">
    <input asp-for="Input.Password" placeholder="Password" type="password">
    <input type="submit" name="name" value="Sign In">
</form>

