@page
@model Shop.UI.Pages.Checkout.CustomerInformationModel

@{
}


<div>
    <form  method="post">
        <div>
        <input asp-for="CustomerInformation.FirstName" placeholder="First Name"/>
        <span asp-validation-for="CustomerInformation.FirstName"></span>
        </div>
        <div>
        <input asp-for="CustomerInformation.LastName" placeholder="Last Name"/>
        <span asp-validation-for="CustomerInformation.LastName"></span>
        </div>
        <div>
        <input asp-for="CustomerInformation.Address1" placeholder="Address"/>
        <span></span>
        </div>
        <div>
        <input asp-for="CustomerInformation.Address2" placeholder="Address 2" />
        <span></span>
        </div>
        <div>
        <input asp-for="CustomerInformation.City" placeholder="City"/>
        <span></span>
        </div>
        <div>
        <input asp-for="CustomerInformation.State" placeholder="State"/>
        <span></span>
        </div>
        <div>
        <input asp-for="CustomerInformation.Zipcode" placeholder="Zipcode" />
        <span></span>
        </div>
        <div>
        <input asp-for="CustomerInformation.Email" placeholder="Email" />
        <span></span>
        </div>
        <div>
        <input asp-for="CustomerInformation.PhoneNumber" placeholder="Phone Number" />
        <span></span>
        </div>
        
        <button type="submit">Submit</button>
    </form>
</div>
