@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="product">
    
</div>

<div>
    @{
        foreach (var p in Model.Products)
        {
            <p asp-page="Product" asp-route-name="@p.Name">
                @p.Name  - @p.Description  -   @p.Value
            </p>
        }
    }
</div>